.main{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: calc(100vh - 208px);
}
.inner{
    width: 100%;
    font-size: 18px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    box-shadow: 10px 10px 5px grey ;
}
.heading{
    margin-bottom: 20px;
    text-align: center;
}
.submitContainer{
    text-align: center;
}
.invalid{
    border: 1px solid red;
} 