.checkbox{
    margin: 10px 5px 0px 255px;
}

.task{
    margin: 0 auto 20px;
    width: 18rem;
    background-color: palevioletred;
}

.checked{
    background-color: #DC3545;
    color: white;
}
.taskLinks{
    text-decoration: none;
    color: pink;
}
.taskLinks:hover{
    text-decoration: none;
    font-style: italic;
}