.navbarMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.activeLink {
    color: #28a745;
    font-weight: bold;
}
.activeLink:hover {
    text-decoration: none;
}
.homePageNav {
    padding: 5px 10px;
}
.homePageNav:hover {
    text-decoration: none;
    padding: 5px 10px;
    color: #28a745;
    background-color: #7dc78e65;
    border-radius: 8px;
}
.navLinks {
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 2%;
}
.navLinks:hover {
    text-decoration: none;
    /* color: #28a745; */
    /* background-color: #7dc78e65; */
    background-color: #444444;
    color: white;
    border-radius: 8px;
}
.logOutDiv {
    color: #28a745;
    background-color: #7dc78e65;
}
.usernameDiv {
    margin-right: 2px;
    padding: 6px 9px;
    border-radius: 5px;
    background-color: #7dc78e65;
    border: 1px solid #28a745;
}
