.navbarMenu {
    /* border-bottom: 1px solid; */
    /* box-shadow: 0px 5px 5px grey ; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.activeLink {
    color: #28a745;
    font-weight: bold;
}
.activeLink:hover {
    text-decoration: none;
}
.homePageNav {
    padding: 5px 10px;
}
.homePageNav:hover {
    text-decoration: none;
    padding: 5px 10px;
    color: #28a745;
    background-color: #7dc78e65;
    border-radius: 8px;
}
.navLinks {
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 2%;
}
.navLinks:hover {
    text-decoration: none;
    color: #28a745;
    background-color: #7dc78e65;
    border-radius: 8px;
}
.logOutDiv {
    color: #28a745;
    background-color: #7dc78e65;
}
