.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 208px);
}
.inner {
    width: 100%;
    font-size: 18px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 11px 10px 8px grey;
}
.heading {
    margin-bottom: 20px;
    text-align: center;
}
.invalid {
    border: 1px solid red;
}
.formText {
    font-size: 12px;
    text-align: start;
}
